img{
    height: 100px;
    width: 200px;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

a {
    text-decoration: none;
}

li {
    display: inline;
    margin-right: 30px;
}

body {
    margin: 0;
    background-image: url(../image/pattern.jpg);
}

main {
    
    margin: 120px 200px 50px;
    border: 3px solid gray;
    padding: 30 px;
    background-color: aliceblue;
}

article{
    border-bottom: 3px solid black;
    margin: 10px 20px;
    
}

h1 {
    text-align: center;
}

footer {
    padding: 10px;
    background-color: black;
}

h5 {
    text-align: center;
    color: white;
    text-decoration: underline;
}
